### Project Title

#### A study conducted to identify trends in products, peak hours, and customer behavior to inform strategies for increasing sales and profit in a cafe.

### Aim

#### 1. To identify the trends in Products with more sales
#### 2. To identify the peak hours of a cafe.
#### 3. To identify the behavioural pattern of customers

### Problem Definition and DataSet Selection

#### Indiaâ€™s cafe industry is booming, attributable to an increasing middle class, urban expansion, and a culture of coffee and tea drinking.But due to tight competition, footfalls in a cafe based in Kerala is declining and affecting its profit margin. So under this circumstances, I take this opportunity to study above the trends in products, identify peak hours of a cafe, helping cafe to identify the beahvioural pattern of customers. Data set was collected from Kaggle.com which contains the data of 10000 customers in Kerala. The questionnaire contains 8 questionsand the insights of the data-set(size of 537kb) can be used for improving the sales of cafe.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("D:\Python\Project\Project 2\Cafe Sales.csv")
print(df)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

In [8]:
num_rows= len(df)
num_columns= len(df.columns)
print(f"Number of rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of rows: 10000
Number of Columns: 8

In [9]:
all_dtypes = df.dtypes
print(f"Datatype of all columns: {all_dtypes}")

Datatype of all columns: Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [10]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [11]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [13]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

### Data Cleaning & PreProcessing

In [14]:
# Copy original dataframe
df_clean = df.copy()

# 1. Replace invalid placeholders
df_clean.replace("UNKNOWN", np.nan, inplace=True)
df_clean.replace("ERROR", np.nan, inplace=True)

# 2. Convert numeric columns to float
for col in ["Quantity", "Price Per Unit", "Total Spent"]:
    df_clean[col] = pd.to_numeric(df_clean[col], errors="coerce")

# 3. Convert Transaction Date to datetime
df_clean["Transaction Date"] = pd.to_datetime(df_clean["Transaction Date"], errors="coerce")

# 4. Strip whitespace from column names
df_clean.columns = df_clean.columns.str.strip()

# 5. Summary of missing values after cleaning
missing_summary = df_clean.isnull().sum()
print(missing_summary)

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [15]:
print(df_clean)

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee       2.0             2.0          4.0
1       TXN_4977031      Cake       4.0             3.0         12.0
2       TXN_4271903    Cookie       4.0             1.0          NaN
3       TXN_7034554     Salad       2.0             5.0         10.0
4       TXN_3160411    Coffee       2.0             2.0          4.0
...             ...       ...       ...             ...          ...
9995    TXN_7672686    Coffee       2.0             2.0          4.0
9996    TXN_9659401       NaN       3.0             NaN          3.0
9997    TXN_5255387    Coffee       4.0             2.0          8.0
9998    TXN_7695629    Cookie       3.0             NaN          3.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3                NaN       NaN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN       NaN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

In [16]:
df = df_clean.copy()

In [17]:
df.describe()

          Quantity  Price Per Unit  Total Spent               Transaction Date
count  9521.000000     9467.000000  9498.000000                           9540
mean      3.028463        2.949984     8.924352  2023-07-01 23:00:31.698113280
min       1.000000        1.000000     1.000000            2023-01-01 00:00:00
25%       2.000000        2.000000     4.000000            2023-04-01 00:00:00
50%       3.000000        3.000000     8.000000            2023-07-02 00:00:00
75%       4.000000        4.000000    12.000000            2023-10-02 00:00:00
max       5.000000        5.000000    25.000000            2023-12-31 00:00:00
std       1.419007        1.278450     6.009919                            NaN

In [24]:
# convert to datetime
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce') 
# Create new columns
df['Day'] = df['Transaction Date'].dt.day.astype('Int64')
df['Month'] = df['Transaction Date'].dt.month.astype('Int64')
df['Year'] = df['Transaction Date'].dt.year.astype('Int64')
print(df)

     Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee       2.0             2.0          4.0
1       TXN_4977031      Cake       4.0             3.0         12.0
2       TXN_4271903    Cookie       4.0             1.0          NaN
3       TXN_7034554     Salad       2.0             5.0         10.0
4       TXN_3160411    Coffee       2.0             2.0          4.0
...             ...       ...       ...             ...          ...
9995    TXN_7672686    Coffee       2.0             2.0          4.0
9996    TXN_9659401       NaN       3.0             NaN          3.0
9997    TXN_5255387    Coffee       4.0             2.0          8.0
9998    TXN_7695629    Cookie       3.0             NaN          3.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

      Payment Method  Location Transaction Date  Day  Month  Year
0        Credit Card  Takeaway       2023-09-08    8      9  2023
1               Cash  In-store       2023-05-16   16      5  2023
2        Credit Card  In-store       2023-07-19   19      7  2023
3                NaN       NaN       2023-04-27   27      4  2023
4     Digital Wallet  In-store       2023-06-11   11      6  2023
...              ...       ...              ...  ...    ...   ...
9995             NaN       NaN       2023-08-30   30      8  2023
9996  Digital Wallet       NaN       2023-06-02    2      6  2023
9997  Digital Wallet       NaN       2023-03-02    2      3  2023
9998  Digital Wallet       NaN       2023-12-02    2     12  2023
9999            Cash  In-store       2023-11-07    7     11  2023

[10000 rows x 11 columns]